.form__main_fieldset {
  display: flex;
  flex-direction: column;
}
 .form__main_fieldset label:first-child {
   text-align: center;
 }

 .form__main_fieldset label:not(:first-child) {
   display:flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items: center;
 }

 .form__main_fieldset label:not(:first-child) input[type="text"] {
   height: 20px;
   margin-left: 5px;
 }

.form__main_fieldset input[type=text]:hover {
  border-color: rgb(0,250,0)
}

.form__main_button {
  margin-top: 10px;
  align-self: flex-end;
}


